.btn {
	font-family: $main-font;
	text-decoration: none;
	border-radius: 9999px;
	border: 1px solid transparent;
	display: inline-block;
}

.btn_color_dark {
	background-color: $main-color;
	color: #fff;
	transition: 0.4s;
}

.btn_color_dark:hover {
	background-color: #fff;
	color: $main-color;
	border: 1px solid $main-color;
}

.btn_bold {
	font-weight: 700;
	text-transform: capitalize;
}