.heading {
  font-family: $main-font;
  text-align: center;
  font-weight: 700;
  line-height: 1.5em;
}

.heading_color_dark {
  color: $big-txt-col;
}

.heading_color_light {
  color: $text-color-lignt;
}

.heading_size_middle {
  text-transform: capitalize;
  font-size: 30px;
}

@media screen and (min-width: 401px) {
  .heading_size_middle {
    font-size: 42px;
  }
}

@media screen and (min-width: 993px) {
  .heading_size_middle {
    font-size: 48px;
  }
}

.heading_size_large {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.2em;
}